---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import UrlForm from "../components/UrlForm.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <div class="min-h-screen bg-[#FAFAF8]">
    <Header />
    <main class="container mx-auto max-w-4xl px-4">
      <UrlForm />
    </main>
    <Footer />
  </div>
</Layout>
